/* Fonts */
body,
p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.text-lato {
  font-family: "Lato", sans-serif;
}

/* Buttons */
button {
  box-shadow: none !important;
}

.btn-orange {
  background: linear-gradient(90deg, #f3705b 0%, #fcb444 100%) !important;
  box-shadow: none !important;
}

.btn-shrink,
.btn-shrink:active {
  transition: transform 100ms ease-in-out;
}

.btn-shrink:active {
  transform: scale(0.97);
}
.active {
  position: relative;
  padding: 10px 20px;
  border: none;
  background-color: #905cff;
  color: white;
  cursor: pointer;
}
.active:hover {
  color: white;
}
.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #905cff transparent transparent transparent;
}

.active.clicked::after {
  display: none;
}

/* Colors */
a {
  color: #333333;
}
a:hover {
  color: inherit;
}

.bg-light-blue {
  background-color: #dcccff;
}

.bg-dark-blue {
  background-color: #905cff;
}

.bg-safed {
  background-color: #f8f8f8;
}

.fa-color {
  color: #f9b215;
}

.text-danger {
  color: #f47759 !important;
}

.text-muted {
  color: #666 !important;
}
.active {
  background-color: #905cff;
}

.text-purple {
  color: #905cff;
}

/* Ribbons */
.ribbon {
  width: 200px;
  height: 30px;
  position: relative;
}

.ribbon:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 30px solid #dcccff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.ribbon:before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-right: 30px solid #dcccff;
}

/* Quadrants */
.quadrant {
  display: inline-block;
  height: 70px;
  width: 70px;
  border-style: solid;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  border-top-right-radius: 5px;
}

/* Cards */
.card-grow,
.card-grow:hover {
  transition: transform 400ms ease-in-out;
}

.card-grow:hover {
  transform: translateY(-50px);
}

/* Font Sizes */
.fs-7 {
  font-size: 14px;
}
